services:
  - type: web
    name: BuyingGroups
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "node server.js"
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: SESSION_SECRET
        generateValue: true
      - key: BASE_URL
        value: https://buyinggroups.onrender.com
      - key: MONGODB_URI
        sync: false
